.hero{
    display:flex;
    align-items: center;
    justify-content: space-between;
}


.hero__heading h1{
    font-family: 'Outfit';
    color:white;
    font-size: 87px;
    text-transform: capitalize;
    width:475px;
    line-height: 87px;
}


.hero__sub-text p{
    color:white;
    width:280px;
    margin-top:10px;
    font-family: 'Roboto';

}


.hero__image{
    width:604px;
    height:auto;
   
}





  .hero__right img {
    height:auto; /* Adjust the size of the image as needed */
    width:604px; /* Ensure it doesn't get too large */
    animation: appear linear;
    animation-timeline: view();
    animation-timing-function: ease-in-out;
    
    position: relative;
 
  }


  @keyframes appear{
    from{
        opacity: 0.3;
        scale:0.8;
        
        
       
    }
    to{
        opacity:1;
        scale:1;
       
        
    }
  }


.buy__nft {
    width:180px;
    height:60px;
    border-radius:50px;
    margin-top:20px;
    background-color: rgba(145, 145, 220, 1);
    border: none;
    font-size:20px;
    text-transform: uppercase;
    font-weight: 500;
    color:white;
    font-family: 'Outfit';
    margin-right:16px;
}

.sell__nft{
    width:180px;
    height:60px;
    border-radius:50px;
    margin-top:20px;
    background-color: transparent; 
  border: 1px solid rgb(163, 239, 240); 
    font-size:20px;
    text-transform: uppercase;
    font-weight: 500;
    color:white;
    font-family: 'Outfit';
}


@media (max-width:600px){
    .hero__heading h1{
        font-family: 'Outfit';
        color:white;
        font-size: 67px;
        text-transform: capitalize;
        width:475px;
        line-height: 67px;
    }


.hero__sub-text p{
    color:white;
    width:280px;
    margin-top:14px;
    font-family: 'Roboto';
    font-size: 20px;

}

.hero__right img{
    width:500px;
    height:auto;
    object-fit: contain;
}

.hero{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-left:40px;
   


}
   
}


@media screen and (min-width: 601px) and (max-width: 1200px) {

    .hero__heading h1{
        font-family: 'Outfit';
        color:white;
        font-size: 67px;
        text-transform: capitalize;
        width:475px;
        line-height: 67px;
    }
}


.from-left{
    transform:translateX(-50%)
}


.from-right{
    transform:translateX(50%)
}

.from-left,
.from-right{
    transition:transform 400ms ease-in;
}


.from-left.show,
.from-right.show{
   transform:translateX(0)
}



